{% extends 'main.html' %}
{% block content %}
{% load static %}

<center>
<fieldset style="max-width: 20em;">
    <legend class="texte"> Inscription </legend>

    <form class="form" action="" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend class="texte"> Inscription </legend>
            <container2>
                <div class=element2>
                    <div class="texte3">
                        Name :
                    </div>
                    <input name="username" type="text" size="20" placeholder="Elon Musk"/>
                </div>
                <div class=element2>
                    <div class="texte3">
                        Pseudo :
                    </div>
                    <input name="pseudo" type="text" size="20" placeholder="moonboy"/>
                </div>
                <div class="element2">
                    <div class="texte3">
                        Email :
                    </div>
                    <input name="email" type="text" size="20" placeholder="moula@email.com" />
                </div>
                <div class=element2>
                    <div class="texte3">
                        Password :
                    </div>
                    <input name="password" type="password" placeholder="********" size="20" />
                </div>
                <div class="element2">
                    <div class="texte3">
                        API key :
                    </div>
                    <input name="key" type="text" size="20" placeholder="hfsqh17kezdzglqg" />
                </div>
                <div class="element2">
                    <div class="texte3">
                        API secret :
                    </div>
                    <input name="secret" type="text" size="20" placeholder="gi7qsh9zeekjgqjhr" />
                </div>
                <div class="element2">
                    <div class="texte3">
                        Cash :
                    </div>
                    <input name="cash" type="number" placeholder="$1000000" />
                </div>
                <div class="element2">
                    <div class="texte3">
                        Launch bot now :
                    </div>
                    <input name="active" type="checkbox"/>
                </div>
            </container2>
        </fieldset>
        <br>
        <button class="btn btn--main" type="submit">Submit</button>
    </form>

</fieldset>
</center>
{% endblock content%}
